# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Archivos de entorno
.env

# Logs
*.log

# Caches de herramientas
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build / empaquetado
dist/
build/
*.egg-info/

# Docker / Contenedores
*.pid
*.seed
*.bak
*.swp
*.swo

# IDEs / Editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
